extends master.pug




append title
    title="Kevin麵包店 - 麵包的故事"
    link(rel="stylesheet" href="./asset/css/story.css")
append body
    .main
        .box
            include nav.pug
            .contain
                .story
                    mixin storyclass(name, bread)
                        div(class="storymain "+name) #[span(class="text") #{bread}]
                    +storyclass("story1", "牛角麵包")  
                    +storyclass("story2", "三明治")  
    include footer.pug          
